<div class="container">
    <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
        <label class="form-check-label fs-5" for="flexCheckDefault">
            Lock Submitted
        </label>
        <p class="fs-6">By default, applicants are able to access and update ther applications</p>
    </div>
    <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label fs-5" for="flexCheckChecked">
            Allow Multiple Submission per user
        </label>
        <p class="fs-6">By default applicants are only allowed to apply once per program</p>
    </div>
    <button type="submit" class="btn btn-success btn-sm">Apply Changes</button>
</div>