<div class="container">
    <h3 class="py-5"> 2021 Example Organization Scholarship Program</h3>

    <h5 class="text-uppercase">Applicant Settings</h5>
        <form>
        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label fs-5" for="flexCheckDefault">
                Lock Submitted
            </label>
            <p class="fs-6">By default, applicants are able to access and update ther applications</p>
        </div>

        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label fs-5" for="flexCheckChecked">
                Allow Multiple Submission per user
            </label>
            <p class="fs-6">By default applicants are only allowed to apply once per program</p>
        </div>

        <hr>

        <h5 class="text-uppercase">Submission Settings</h5>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Confirmation Page Text</label>
            <textarea class="form-control" id="form1" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Redirect URL</label>
            <input type="url" class="form-control" id="form2" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Logout URL</label>
            <input type="url" class="form-control"  id="form3">
        </div>

        <button type="submit" class="btn btn-success btn-sm">Apply Changes</button>
        </form>
</div>